/* about_us_area */
.about_us_area{
    margin-top:58px!important;
    background: #fefefe;
    .about_row{
        padding-top: 70px;
        padding-bottom:70px;
        p{
            font: 400 14px/26px $roboto;
            color: $p;
            padding-top: 28px;
            padding-bottom: 54px;
        }
        .about_client{
            padding-top: 7px;
            img{
                max-width: 100%;
            }
        }
        // our_skill_inner
        .our_skill_inner{
            .single_skill{
                h3{
                    font: 700 18px $roboto;
                    color: $h2;
                    padding-bottom: 8px;
                }
                .progress{
                    background:#f5f5f5; 
                    box-shadow: none;
                    height: 8px;
                    width: 100%;
                    overflow: visible;
                    border-radius: 0;
                    position: relative;
                    margin-bottom: 40px;
                    .progress-bar{
                        background: $bc; 
                        box-shadow: none;
                        .progress_parcent{
                            font: 700 18px $roboto;
                            color: $h2;
                            position: absolute;
                            right: 0;
                            top: -30px;
                        }
                    }
                }
            }
        }
    }
    .about_us2_pages{
        padding-top: 90px;
    }
}

/* End about_us_area */
 