/**------------------open style dasboard------------------------**/
.content {
  overflow:hidden;
  width:100%
}
.modal{
  
  padding-top: 25vh;
}
.content .top-con {
  margin:30px 0;
}
.header-title {
  text-align:center;
}
.header-title img {
  width:12%;
}
.info-box-number {
  font-size:40px;
}
.jumlah_donasi .info-box {
  width:65%;
  margin:10px auto;
}
/**------------------close style dasboard------------------------**/
.profile-picture{
/*  width: 150px;*/
  height: 150px;
  margin: 20px;
  object-fit: cover;
  object-position: center right;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

/**------------------open style List member------------------------**/
.skin-blue .main-header .navbar {
  background:#86c440;
}
.head-title {
  text-align:center;
  overflow: hidden;
}
.head-title hr {
  height:2px;
  background:#333;
}
.list-content {
  width:100%;
}
.list-content .pos-con .datatble-content {
  margin:30px 0;
  box-shadow: 0px 4px 12px #000;
  padding:10px;
  overflow:hidden;
}
table thead .title-datable {
    background: #86c440;
    color: #fff;
}
table thead .title-datable th {
  text-align:center;
}
table tbody tr td p  {
  margin:0;
}
table.dataTable tbody th, table.dataTable tbody td {
    padding: 8px!important;
    vertical-align:middle!important;
    text-align: center;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding:1px!important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background:none!important;
}
table.dataTable thead th {
  vertical-align:middle!important;
  font-weight:600!important;
}
 .table-striped>tbody>tr:nth-of-type(odd) {
    background:#d2d2d2;
  }
/**------------------close style List member------------------------**/

/**------------------close style footer table------------------------**/
.footer-form .left{
  width:50%;
  float:left;
  text-align:right;
  padding:20px;
}
.footer-form .right {
  text-align:left;
  float:left;
  width:50%;
  padding:20px;
}
/**------------------close style footer table------------------------**/
@media (max-width: 991px) {
  .info-box .info-box-icon {
    font-size:25px!important;
    width:40px!important;
  }
  .info-box-number {
    font-size:20px;
  }
  .info-box-content {
    margin-left:35px!important;
  }
}
@media (max-width: 767px) {
  .head-title h2 {
    font-size:30px!important;
  }
  .header-title img {
    width: 35%;
  }
  .jumlah_donasi {
    padding:0!important;
  }
  .jumlah_donasi .info-box {
    width:100%;
    margin:10px auto;
  }
  .donasi-con {
    padding:0!important;
  }
  .info-box-content {
    margin-left:20px;
  }
}
@media (max-width: 575px) {
  .info-box-number {
    font-size:35px!important;
  }
}
@media (max-width: 420px) {
  .info-box-number {
    font-size:28px!important;
  }
}